
body{
    margin: 0;
    font-family: sans-serif;
}
.contenedor{
    max-width: 100%;
}
img {
    max-width: 100%;
}
.contenido{ 
    display: flex;    
    background-image: url(../img/barrasuperior1.png);
    background-position: center center;
  background-size: cover;      
    height:80px;
}
.contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


header {
    width: 100%;
    background: #26425f;
}
#btn-menu {
    display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(233, 214, 214);
}
header label:hover{
    cursor: pointer;
    background: rgba(73, 66, 66, 0.3);
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
    
}
.menu li{
    border-right: 1px solid #fff;
    
}
.menu li:hover {
    background: rgba(190, 32, 32, 0.3);
}
.menu li a{
  
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}
/*-------------------------------------------------------*/



@media (max-width:768px) {
    header label {
        display: inline-block;
    
}
.menu{
    position: absolute;
    background: #1d2024;
    width: 70%;    
    margin-left: -70%;
    transition: all 0.5s;
    top: 80px;

}
.menu ul{
    flex-direction: column;
     }
     .menu li {
         border-top: 1px solid #ffffff;
         height: 45px;
     }
   
     #btn-menu:checked ~ .menu {
         margin: 0;
     }
     .contenido {
         display: flex;
         justify-content: space-between;
         align-items: center;
         
         
     }
     .logo-marca {
         align-items: center;
         margin: 0 auto;
     }
    
     .menu  li a{
         display: block;
        padding: 18px;
    
       
    }   
}
